{% extends 'layout/base.twig' %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-cover">
	<img src="" alt="">
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashboard-side-bar">
		<div class="dashboard-user-avatar">
			<img src="http://www.croop.cl/UI/twitter/images/doug.jpg">
			<div class="dashboard-user-login">{{ user_login }}</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			{{ countFollowers }} 0 Followers
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			{{ countFollowings }} 0 Followings
		</div>
	</div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
	<div>
		test
		login => {{ user.login }} <br/><br/>
		email => {{ user.email }} <br/><br/>
		first_name => {{ user.first_name }} <br/><br/>
		last_name => {{ user.last_name }} <br/><br/>
		cpostal => {{ user.cpostal }} <br/><br/>
		adress => {{ user.adress }} <br/><br/>
		departement => {{ user.departement }} <br/><br/>
		region => {{ user.region }} <br/><br/>
		country => {{ user.country }} <br/><br/>
		city => {{ user.city }} <br/><br/>
		birthday => {{ user.birthday }} <br/><br/>
		sexe => {{ user.sexe }} <br/><br/>
	</div>

</div>


{% endblock %}